<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron row">
        <div class="container-fluid col-lg-12">
            <div style="padding:20px;color:white;" class="col-lg-10 col-lg-push-1"> 
              <h1>The Social Network</h1>
              <p>Create an account. It's free and always will be. Connect with friends, family, colleagues, <br/>entreprenuers around the world. </p>
              <fb:login-button show-faces="false" max-rows="1" size="large" onlogin="checkLoginState()"></fb:login-button>
              <div id="status"></div>
          
            </div>
            <div signup></div>
      </div>
    </div>