
		<form action="#" method="post" role="form" enctype="multipart/form-data" class="facebook-share-box">
 	<div class="share">
 		<div class="panel panel-default">
            <div class="panel-heading"><i class="fa fa-file"></i> Update Status</div>
            <div class="panel-body">
            		<div class="">
            			<textarea name="message" cols="40" rows="10" id="status_message" class="form-control message" style="height: 62px; overflow: hidden;" placeholder="What's on your mind ?"></textarea> 
 					</div>
        	</div>
 			<div class="panel-footer">
	 			<div class="row">
		 			<div class="">
			 			<div class="form-group" style="float:right;padding-right:10px;">                            
			 				<input type="submit" name="submit" value="Post" class="btn btn-primary"> 
			 			</div>
		 			</div>
	 			</div>
 			</div>
    	</div>
 	</div>
</form>


